h2 {
  text-align: center;
}

label {
  display: inline-block;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.dt-button+.dt-button {
  margin-left: 8px;
}

.info_row {
  display: flex;
  margin: auto;
  flex-direction: column;
}

@media (min-width: 578px) {
  img {
    float: right;
  }
}

.details__wrapper {
  margin: 0 10px;
}

@media (max-width: 577px) {
  img {
    display: flex;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 2px lightgrey;
  }

  details {
    overflow: hidden;
  }
}

.details_container {
  box-shadow: 0 0 10px rgba(14, 30, 37, .12);
}

.info_container {
  display: grid;
  background-color: white;
}

.details .info {
  -ms-grid-column: 1;
  grid-column: 1;
  border: 1px solid #e1e1e1;
}

.items {
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

/* .info_row+.info_row {
  margin: 10px 0 0;
} */

.hero_id_label {
  font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hero_id {
  color: #151515;
  font-size: 16px;
  word-break: break-word;
  font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p,
.hero_label {
  margin: 0;
  padding: 0;
}

.info_text_container {
  padding-left: 2em;
  padding-top: 2em;
}

.items_text_container {
  padding: 2em;
}

.items_text_container label {
  padding-bottom: 10px;
}

em {
  width: 90%;
  margin-bottom: 10px;
}
