/* AppComponent's private CSS styles */
h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin: auto;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.container {
  max-width: 700px;
  margin: auto;
}

header {
  /* background-color: #00848e; */
  background-color: #222831;
  text-align: left;
}

header h1 {
  padding: 25px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 10px;
}

nav {
  margin: 30px 0;
  text-align: center;
}

/* nav a,
nav .button-item {
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
} */

nav a:visited,
a:link,
nav .button-item:visited,
nav .button-item:link {
  color: #334953;
}

nav a:hover,
nav .button-item:hover {
  color: white;
  background: #00848e;
  border-color: #00848e;
}

.button-item.active{
  z-index: 1;
  position: relative;
  color: #006d75;
  background-color: #f8f8f8;
  border-color: #006d75;
}

/*
.button-item:not(.button-item-disabled) {
  color: #00a1b2;
} */
