/* MessagesComponent's private CSS styles */
h2,
dt-card-title {
  color: #00848e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: crimson;
  font-family: Cambria, Georgia;
}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button.clear {
  color: #333;
  margin: 12px 0;
}

.dt-card {
  border-top: 4px solid #00848e;
  padding-top: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid rgba(14, 30, 37, .12);
}
