<div class="heroes_container">
  <h2>Heroes</h2>
  <div #heroesContainer>
    <app-dynamic-table></app-dynamic-table>
  </div>

  <!-- <div class="heroes" *ngIf="heroService.tryGetHeroesFromLocalStorage()" #heroesContainer>
    <li *ngFor="let hero of heroService.tryGetHeroesFromLocalStorage()">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
      </a>
      <button class="delete" title="delete hero" (click)="delete(hero)">
        x
      </button>
    </li>
  </div> -->

  <dt-icon name="dropdownopen" class="scroll" [class.scrolltop]="!isTop" (click)="toggleScroll()"></dt-icon>

</div>
