<div class="heroes_container">
  <h2>Heroes</h2>
  <div class="flex">
    <input type="text" class="hero_input" dtInput placeholder="Please add hero name" #heroName />
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="inline-flex" dt-button (click)="add(heroName.value); heroName.value=''">
      <dt-icon name="plus-add"></dt-icon>
      Add
    </button>
  </div>

  <div class="heroes" *ngIf="heroService.tryGetHeroesFromLocalStorage()" #heroesContainer>
    <li *ngFor="let hero of heroService.tryGetHeroesFromLocalStorage()">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
      </a>
      <button class="delete" title="delete hero" (click)="delete(hero)">
        <!-- <dt-icon name="abort"></dt-icon> -->
        x
      </button>
    </li>
  </div>

  <dt-icon name="dropdownopen" class="scroll" [class.scrolltop]="!isTop" (click)="toggleScroll()"></dt-icon>
  <!-- <app-dynamic-table></app-dynamic-table> -->
</div>
