/* HeroSearch private styles */
h3 {
  margin-bottom: 5px;
}

label {
  font-size: 14px;
}

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 208px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #00848e;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}

.search-result li a:active {
  color: white;
}

#search-box {
  max-width: 220px;
  height: 20px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.dt-card {
  border-top: 3px solid #c7bb63;
  padding-top: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
  padding: 20px;
  border-bottom: 1px solid rgba(14, 30, 37, .12);
}
